body {
    /*padding: 0px;*/
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /*margin: 0px;*/
    font-family: Tahoma, Geneva, sans-serif;
}

#container {
    margin: 0px;
    padding: 2px;
    border: 0px;
}

#header {
    height: 50px;

}
/*#logo {*/
/*    font-size: 30px;*/
/*    background: none;*/
/*    height: 100px;*/
/*    padding: 50px 0 0 30px;*/
/*}*/
#logo a {
    color: #FFFFFF;
    text-decoration: none;
}
#slogan {
    float: right;
    font-size: 18px;
    color: #FFFFFF;
    padding: 60px 30px 0 0;
}

#menu {
    height: 40px;
     margin-top: 5px;
}
#menu ul {
    margin: 0;
    padding: 0;
}
#menu li {
    list-style: none;
    float: left;
  }
#menu a {
    float: left;
    height: 20px;
    padding: 10px 30px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
#menu a:hover {

}

#main {
    float: left;
    width: 100%;
    margin: 5px 0;

    color: #1F1507;
    font-size: 11px;
}
#main a {
    color: #493310;
}
#main a:hover {
    color: #000000;
}
#main br {
    line-height: 8px;
}
#sidebar {
    width: 160px;
    float: right;
    padding: 0 30px 30px 30px;
    margin-top: 10px;
}
#sidebar h3 {
    font-size: 17px;
    font-weight: normal;
    margin: 20px 0 5px 0;
}


.navbar {
    width: 100%;
    background-color: #28a1c7;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50;
}

#footer {
    height: 40px;
    color: #FFFFFF;
    font-size: 11px;

    clear: both;
}


