<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <!-- Tell the server to use form-based authentication. -->
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/loginError.jsp</form-error-page>
    </form-login-config>
  </login-config>


  <!-- Protect everything in the adminOnly directory -->
  <security-constraint>
        <web-resource-collection>
          <web-resource-name>searching</web-resource-name>
          <url-pattern>/search.jsp</url-pattern>
          <url-pattern>/results.jsp</url-pattern>
          <url-pattern>/generateBill.jsp</url-pattern>
          <url-pattern>/admin.jsp</url-pattern>
          <url-pattern>/editUser.jsp</url-pattern>
          <url-pattern>/addUser.jsp</url-pattern>
        </web-resource-collection>

        <auth-constraint>
          <role-name>admin</role-name>
        </auth-constraint>
  </security-constraint>

  <security-role>
    <role-name>admin</role-name>
  </security-role>

  <display-name>Billing System</display-name>

</web-app>

        <!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"-->
<!--         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"-->
<!--         version="3.1">-->

<!--  &lt;!&ndash; Tell the server to use form-based authentication. &ndash;&gt;-->

<!--  <login-config>-->
<!--    <auth-method>FORM</auth-method>-->
<!--    <form-login-config>-->
<!--      <form-login-page>/login.jsp</form-login-page>-->
<!--      <form-error-page>/loginError.jsp</form-error-page>-->
<!--    </form-login-config>-->
<!--  </login-config>-->


<!--  &lt;!&ndash; Protect the user search page. &ndash;&gt;-->
<!--  <security-constraint>-->
<!--    <web-resource-collection>-->
<!--      <web-resource-name>search</web-resource-name>-->
<!--      <url-pattern>/search.jsp</url-pattern>-->
<!--    </web-resource-collection>-->
<!--        <auth-constraint>-->
<!--          <role-name>admin</role-name>-->
<!--      </auth-constraint>-->
<!--  </security-constraint>-->

<!--  &lt;!&ndash; Protect everything in the admin Only directory &ndash;&gt;-->
<!--  <security-constraint>-->
<!--    <web-resource-collection>-->
<!--      <web-resource-name>Search</web-resource-name>-->
<!--      <url-pattern>/admin.jsp</url-pattern>-->
<!--    </web-resource-collection>-->
<!--    <auth-constraint>-->
<!--      <role-name>admin</role-name>-->
<!--      </auth-constraint>-->
<!--  </security-constraint>-->

<!--  <security-role>-->
<!--    <role-name>admin</role-name>-->
<!--  </security-role>-->

<!--&lt;!&ndash;  <welcome-file-list>&ndash;&gt;-->
<!--&lt;!&ndash;    <welcome-file>searchUser</welcome-file>&ndash;&gt;-->
<!--&lt;!&ndash;  </welcome-file-list>&ndash;&gt;-->
<!--</web-app>-->
